/* Dark mode colors. */
:root {
	--sl-color-accent-low: #000000;
	--sl-color-accent: #5d6e6a;
	--sl-color-accent-high: #70bcff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e8eef5;
	--sl-color-gray-2: #bcc3cb;
	--sl-color-gray-3: #7f8d9c;
	--sl-color-gray-4: #1c86ff;
	--sl-color-gray-5: rgba(143, 159, 169, 0.15);
	--sl-color-gray-6: #16161800;
	--sl-color-black: #161618;
	--sl-color-bg:#161618;
	

	.sidebar-pane {
		backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
	}
	header {
		backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
	}
	.hero img{
		border-radius: 24%;
		box-shadow:  0px 0px 5rem 0px #0073ff;
	}
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d3d8d7;
	--sl-color-accent: #5f706c;
	--sl-color-accent-high: #2d3432;
	--sl-color-white: #14191e;
	--sl-color-gray-1: #1d2834;
	--sl-color-gray-2: #2e3946;
	--sl-color-gray-3: #4d5967;
	--sl-color-gray-4: #7f8d9c;
	--sl-color-gray-5: rgba(143, 159, 169, 0.15); /*hilights */
	--sl-color-gray-6: #e8eef5;
	--sl-color-black: #ffffff;
	--sl-color-bg:#faf8f8;

	.sidebar-pane {
		backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
	}
	header {
		backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
	}
	.hero img{
		border-radius: 24%;
		box-shadow:  0px 0px 5rem 0px #0073ff;
	}
}

/* colors: {
        lightMode: {
          light: "#faf8f8",
          lightgray: "#e5e5e5",
          gray: "#b8b8b8",
          darkgray: "#4e4e4e",
          dark: "#2b2b2b",
          secondary: "#284b63",
          tertiary: "#84a59d",
          highlight: "rgba(143, 159, 169, 0.15)",
          textHighlight: "#fff23688",
        },
        darkMode: {
          light: "#161618",
          lightgray: "#393639",
          gray: "#646464",
          darkgray: "#d4d4d4",
          dark: "#ebebec",
          secondary: "#7b97aa",
          tertiary: "#84a59d",
          highlight: "rgba(143, 159, 169, 0.15)",
          textHighlight: "#b3aa0288",
        },
      }, */