name: DDeploy to BunnyCDN?

on: [push, workflow_dispatch]

jobs:
  build:
    name: Build2
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Deploy to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: storage.bunnycdn.com
        username: ${{ secrets.STORAGE_NAME }}
        password: ${{ secrets.STORAGE_PASSWORD }}
        local-dir: ./dist/
        server-dir: ../
